* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 20px 0;
  margin: auto;
  width: 80%;
}
.flex {
  display: flex;
}
.jc-sb {
  justify-content: space-between;
}
.mt5 {
  margin-top: 5px;
}
button {
  background-color: rgb(11, 162, 11);
  color: white;
  padding: 8px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}
